/node_modules
/public/hot
/public/storage
/public/nginx.htaccess
/storage/*.key
/vendor
/.vscode
.env
.env.local
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.php_cs.cache
_ide_helper.php
_ide_helper_models.php
nginx.htaccess
.htaccess
